*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'OpenSans-light';
}


html,body{
	height: 100%;
	
}
@font-face {
    font-family:'OpenSans-light' ;
    src: url('../open_sans/static/OpenSans/OpenSans-Light.ttf');
}

/**Divs gerais!*/
.container{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******/
/* header da pagina */
header{
	background-color: #D6D6D6;
	padding:10px 2%;
}
.logo-principal{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo-1{
	width: 150px;
	height: 60px;
	background-image: url('../imagens/logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	
}

.logo-2{
	width: 160px;
	height: 60px;
	background-image: url('../imagens/logo2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	
}
/* banner e formulario */
.banner{
	width: 100%;
	position: relative;
	background-image: url('../imagens/bg-form.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row-reverse;
	padding:30px;
}

.arrow{
	position:absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -20px;
} /* seta (ainda no banner) */
/* formulario abaixo */
.form{
	width: 500px;
	height: 100%;
	border: 2px solid rgba(0, 0, 0, 0.642);
	display: flex;
	flex-direction: column;
	
}
.form-titulo{
	width: 100%;
	background-color:rgba(220, 220, 220, 0.8);
	padding: 40px;
	height: 80%;
}
.form-inputs{
	height: 100%;
	width: 100%;
	background-color:rgba(178, 178, 178, 0.8);
	display: flex;
	flex-direction: column;
	padding: 40px;
}
.form-inputs input{
	width: 100%;
	height: 45px;
	border: none;
	line-height: 40px;
	padding-left:15px ;
}
input[type='submit']{
	cursor: pointer;
	background-color:rgb(0, 0, 82);
	font-size: 14px;
	color: #D6D6D6;
	margin-top: 50px;
}

.input-wraper{
	margin:  20px 0;
}
/* chamada */
.chamada-wraper{
	text-align: center;
	padding: 30px ;
	width: 100%;
	background-color: rgba(224, 224, 224, 0.8);
	margin: 2px 0;
}
.chamada-wraper h2{
	font-weight: normal;
	font-size: 26px;
	padding-bottom: 20px;
}
/* conteúdo e mosaico */
.content-wraper{
	display: flex;
	width: 100%;
	
	
}
.content-wraper-2{
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	
}
.bg-img{
	background-position: center;
	background-size: cover;
	width: 60%;
	
}
.description{
	padding:  40px 60px ;
	width: 40%;
	background-color: rgb(83, 106, 145);
	
}
.mosaico{
	height: 400px;
	width: 100%;
}
/* rodapé */
.logo-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #D6D6D6;
	padding:10px 2%;
}
/* media screen */
@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	.logo-1,.logo-2{
		margin-top:10px;
		display: inline-block;
		float: none;
	}


}
@media screen and (max-width:768px){
	.content-wraper, .content-wraper-2{
		display: block;
		
	}
	.bg-img{
		height: 300px;
		width: 100%;
		
	}
	.description{
		
		width: 100%;
		
		
	}
}
